
.
.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}
.head{
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    align-items: center;
}
nav ul{
    text-decoration: none;
}
nav li{
    list-style: none;
}
.logo{
    color: rgba(78, 71, 255, 1);
    font-size: 35px;
}
.primary-bt{
    background-color: rgba(78, 71, 255, 1);
    font-size: 16px;
    color: azure;
    border-radius: 10px;
    padding: 12px 36px;
    cursor: pointer;
}
.middle{
    justify-content: center;
    margin-left: 850px;
}
.background{
   width: 100%;
   height: 700px;
   background-image: url(Assets/Hero-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   margin-bottom: 120px;
}
.heading{
    color: rgba(37, 36, 50, 1);
    font-size: 65px;
    font-weight: 700px;
    text-align: center;
    justify-content: center;
    /* padding-top: 200px; */
    /* padding-left: 250px; */
    
}
.center{
    margin-left: 650px;
}
.mai{
    display: flex;
    justify-content: center;
    /* gap: 220px;
    padding-left: 100px;
    padding-right: 160px;
    margin-bottom: 120px; */
    /* flex-wrap: wrap; */
    text-align: center;
    gap: 220px;
    padding-bottom: 116px;
}
.mini{
    border-radius: 48px;
   
}
.more {
  /* margin: auto; */
  /* max-width: 300px; */
   /* gap: 120px; */
   /* margin-bottom: 120px; */
}
.see{
    font-size: 42px;
    text-align: left;
}
.exp{
    font-size: 24px;
    text-align: left;
}
.b{
    justify-content: flex-start;
     background-color: rgba(78, 71, 255, 1);
    font-size: 16px;
    color: azure;
    border-radius: 10px;
    padding: 12px 36px;
    cursor: pointer;
    display: flex;
}
.join{
    background-color: rgba(78, 71, 255, 0.1);
    margin-left: 140px;
    margin-right: 160px;
    /* display: flex;
    width: 1140px;
    height: 306px;
     justify-content: space-between; */
}
.see-title{
  display: flex;
  justify-content: center;
  font-size: 38px;
  color: rgba(37, 36, 50, 1);
}

.stats-section {
  background-color: #eef0ff;
  padding: 60px 20px;
   margin-bottom: 120px;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: wrap;
}

.stat-item {
  text-align: center;
  flex: 1;
  min-width: 200px;
}

.k {
  font-size: 80px;
  font-weight: bold;
  color: rgba(78, 71, 255, 1);
  margin: 0;
}

.stat-item h5 {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}
.user-say{
     display: flex;
     gap: 20px;
     justify-content: center;
     /* background-color: rgba(242, 237, 237, 1); */
     margin-left: 150px;
     margin-right: 150px;
     margin-bottom: 120px;
    }
    .avatar{
        border-radius: 50px;
    }
    .assest{
       padding: 24px;
       border-radius: 14px;
       background-color: rgba(255, 255, 255, 0.5);
       box-shadow: 0px 6px 50px rgba(242, 237, 237, 1);
    }
    .ready{
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        box-shadow: 0px 6px 50px rgba(242, 237, 237, 1);
        margin-left: 150px;
        margin-right: 150px;
        border-radius: 14px;
    }
    .focus{
        padding-top: 71px;
    }
    .ready-img{
        margin-top: 20px;
        margin-bottom: 71px;
        /* padding-left: 150px;
        padding-right: 150px; */
        border-radius: 48px;
    }
    .message{
        display: flex;
        /* flex-wrap: wrap; */
        gap: 115px;
        padding-left: 150px;
        padding-right: 150px;
        margin-top: 50px;
    }
    .get{
        font-size: 99px;
        color: rgba(0, 0, 0, 1);
    }
     section input[type="text"], section input[type="email"], section textarea{
        height: 25px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 1);
        display: block;
        font-size: 18px;
        width: 100%;
        padding: 10px 20px;
        margin-bottom: 50px;
        border: none;
         box-shadow: 0px 6px 50px rgba(242, 237, 237, 1);
     }
     .primary-btn{
        background-color: rgba(78, 71, 255, 1);
        font-size: 16px;
        color: azure;
        border-radius: 10px;
        padding: 12px 36px;
        width: 100%;
        cursor: pointer;
     }
     .form{
        margin-left: 500px;
     }
     /* footer style */
     .lg{
        font-size: 100px;
        color: rgba(78, 71, 255, 1);
        text-align: center;
        /* padding-top: 100px; */
        margin-bottom: 10px;
     }
     .sec{
        box-shadow: 0px 6px 50px rgba(242, 237, 237, 1);
        padding-top: 104px;
        padding-bottom: 104px;    
    }
     .pa{
        text-align: center;
         margin-top: 0px;
     }
    
     .nav {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        text-decoration: none;
        }
   
     .ul {
  display: flex;
  list-style: none;
  gap: 30px;
  padding: 0;
  margin: 0;
}
      .home{
        align-items: center;
      }
      .flax{
        display: flex;
        gap: 6px;
      }
      .h3{
        font-size: 16px;
      }

      .ul li a {
        text-decoration: none;
        color: #333;
        font-weight: 500;
        padding: 5px 10px;
      }
